# Ignore compiled code
*.o
*.lo
# Ignore emacs save files
*~
# autoconf stuff
Makefile.in
Makefile
config.*
autom4te.cache
ltmain.sh
libtool
missing
stamp-h1
install-sh
tests/.libs
src/.libs
src/.deps
src/libcalc11.la
src/param11.i
depcomp
aclocal.m4
compile
configure
COPYING
INSTALL
tests/testCalc11
test-driver
# Install directories
lib
bin
include
share
m4

